@import '../../assets/scss/variables';

.rating__star {
    color: $light-white;
    font-size: $text_size;

    @media (max-width: 375px) {
        font-size: $star_mobile_app;
    }
}

.rating__star--full {
    color: $red;
}