$white: #FFFFFF;
$grey-white: #f6f6f6;
$light-white: #E3E3E3;
$dark: #000000;
$red: #FF6060;




$text_size : 24px;
$text_size_mobile_app : 12px;
$star_mobile_app: 18px;

$title_size : 48px;
$title_size_mobile_app : 24px;

$subtext_size: 18px;
$subtext_size_mobile_app: 18px;

$footer_text_size: 24px;
$footer_text_size_mobile_app: 12px;

$subtitle_size: 36px;
$subtitle_size_mobile_app: 18px;
$location_subtext_mobile_app: 14px;

$location_tag_size: 14px;
$location_tag_size_mobile_app: 10px;

$collapse_size_mobile_app: 13px;
$collapse_content_mobil_app: 12px;

$not_found_title_size: 288px;
$not_found_title_size_mobile_app: 96px;
$not_found_subtext_size_mobile_app: 14px;