$white: #FFFFFF;
$grey-white: #f6f6f6;
$light-white: #E3E3E3;
$dark: #000000;
$red: #FF6060;




$text_size : 1.5rem; // 24px
$text_size_mobile_app : 0.75rem; // 12px

$title_size : 3rem; // 48px
$title_size_mobile_app : 1.5rem; // 24px

$subtext_size: 1.125rem; // 18px
$subtext_size_mobile_app: 1.125rem; // 18px

$footer_text_size: 1.5rem; // 24px
$footer_text_size_mobile_app: 0.75rem; // 12px

$subtitle_size: 2.25rem; // 36px
$subtitle_size_mobile_app: 1.125rem; // 18px

$location_tag_size: 0.875rem; // 14px
$location_tag_size_mobile_app: 0.625rem; // 10px
$location_subtext_mobile_app: 0.875rem; // 14px
$star_mobile_app: 1.125rem; // 18px

$collapse_size_mobile_app: 0.8125rem; // 13px
$collapse_content_mobil_app: 0.75rem; // 12px

$not_found_title_size: 18rem; // 288px
$not_found_title_size_mobile_app: 6rem; // 96px
$not_found_subtext_size_mobile_app: 0.875rem; // 14px