@import '../../assets/scss/variables';

.collapse-wrapper {
    width: 100%;
}

.collapse {
    background-color: $red;
    border-radius: 0.3125rem; // 5px
    width: 100%;
    padding: 0 1.25rem 0 0.9375rem; // 20px / 15px
    box-sizing: border-box;
    cursor: pointer;
}

.collapse__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    font-size: 1.5rem; // 24px
    height: 3.25rem; // 52px
}

.collapse__content {
    width: 100%;
    background-color: $grey-white;
    padding: 1.5625rem 1.25rem 1.25rem; // 25px / 20px / 20px
    border-radius: 0.3125rem; // 5px

    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); // 4px / 8px
    box-sizing: border-box;
}

.collapse__content ul {
    font-size: 1.125rem; // 18px
    list-style: none;
    padding: 0;
    font-weight: normal;
}

.collapse__arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    transform: rotate(90deg);

    &.open {
        transform: rotate(-90deg);
    }
}