@import '../../assets/scss/variables';

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.125rem; // 50px
    padding: 3.5rem 3.75rem 2.6875rem; // 56px 60px 43px
    border-radius: 1.5625rem; // 25px
    background-color: $grey-white;
    margin-bottom: 3.125rem; // 50px
}