@import '../../assets/scss/variables';

.LogementDetails__collapses {
    display: flex;
    gap: 4.75rem;

    @media (max-width: 375px) {



        flex-direction: column;
        gap: 20px;
    }

}

.LogementDetails__collapses .collapse-wrapper {
    max-width: 582px;

    @media (max-width: 375px) {



        max-width: 100%;
    }
}