@use '../../assets/scss/variables' as *;

.LogementDetails__collapses {
    display: flex;
    gap: 4.75rem; // 76px

    @media (max-width: 375px) {
        // 375px
        flex-direction: column;
        gap: 1.25rem; // 20px
    }
}

.LogementDetails__collapses .collapse-wrapper {
    max-width: 36.375rem; // 582px

    @media (max-width: 375px) {
        // 375px
        max-width: 100%;
    }
}