@import '../../assets/scss/variables';

.footer {
    background: $dark;
    display: flex;
    height: 13.0625rem; // 209px
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__logo {
    width: 7.625rem; // 122px
    height: 2.465rem; // 39.44px
}

.footer__txt {
    color: $white;
    margin-top: 1.625rem; // 26px
    margin-bottom: 0;
    font-size: $footer_text_size; // 24px

    @media (max-width: 375px) {
        font-size: $footer_text_size_mobile_app;
        width: 122px;
        text-align: center;
        padding: 0px 4px;
        margin-top: 12px;

    }
}