nav.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

img.nav-logo {

  width: 30px;
  height: 32px;
}

.gallery {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

a.card {
  width: 100px;
  height: 100px;
}

a.card {
  overflow: hidden;
}

a.card {}

img.card__img {
  max-width: 100%;
  max-height: 100%;
}