@use '../../assets/scss/variables' as *;

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 3.125rem; // 50px
    width: 100%;

    @media (max-width: 375px) {
        // 375px
        margin-bottom: 1.6875rem; // 27px
    }
}

.nav__logo {
    width: 13.145rem; // 210.32px
    height: 100%;

    @media (max-width: 375px) {
        // 375px
        width: 9.0625rem; // 145px
    }
}

.nav__links {
    display: flex;
    justify-content: space-between;
    gap: 3.563rem; // 57px

    @media (max-width: 375px) {
        // 375px
        gap: 1.625rem; // 26px
    }
}

.nav__link {
    color: $dark;
    font-size: $text_size; // 24px
    text-decoration: none;

    &--whereabouts {
        text-decoration: underline;
    }

    @media (max-width: 375px) {
        // 375px
        font-size: $text_size_mobile_app; // 12px
    }
}