@import '../../assets/scss/variables';

.banner {
    display: inline-block;
    position: relative;
    height: 13.9375rem; // 223px
    width: 100%;
    border-radius: 1.5625rem; // 25px
    overflow: hidden;
}

.banner--location {
    height: 25.9375rem; // 415px
}

.banner__picture {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.banner__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: $white;
    font-size: 3rem; // 48px
    text-align: center;
    margin: 0;
}

.banner__arrow {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: 3rem; // 48px
    text-align: center;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
}

.banner__arrow--left {
    left: 1.9375rem; // 31px
    padding: 0;
    margin: 0;
    border: 0;
}

.banner__arrow--right {
    right: 1.4375rem; // 23px
    padding: 0;
    border: 0;
}